<footer class="footer">
	<section class='leftFooter'>
		<img src="/images/copyright_24px.png">
		<p>2020</p>
		<a href="#">Contact us</a>
		<a href="#">Newsletter</a>
	</section>
	<section class='rightFooter'>
		<a href="https://www.facebook.com"><img src="/images/Facebook-Logo-1.png"></a>
		<a href="https://www.instagram.com"><img src="/images/twitttt-1.png"></a>
		<a href="https://www.twitter.com"><img src="/images/Instagram-logo.png"></a>
	</section>
</footer>