 <%- include('./partials/_head', { title:'confirmation', pageStyle: '/styles/confirmation.css'}) %>

 <body>
   <main>
    <!-- below to be replaced with ejs ref to firstName -->
    <h3 class='welcome'>Welcome <%= user.firstName %>!</h3>
    <p class="community">You are now a part of our amazing community</p>
  </main>
 </body>