<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/_head', { title:'sign up'}) %>

<body>
  <form action="/confirmation" method="POST">
    <div class="firstName">
      <label for="firstName">First Name: </label>
      <input type="text" id="firstName" name="firstName" required>
    </div>
    <div class="lastName">
      <label for="lastName">Last Name: </label>
      <input type="text" id="lastName" name="lastName" required>
    </div>
    <div class="email">
      <label for="email">Email: </label>
      <input type="email" id="email" name="email">
    </div>
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>