<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/_head', { title:'sign up', pageStyle: '/styles/form.css'}) %>

<body>
  <main>
  <h3 class="formHead">Create Your Account</h3>
  <form action="/confirmation" method="POST">
    <div class="firstName">
      <label for="firstName" class='formLabel'>First Name</label>
      <input type="text" id="firstName" name="firstName" placeholder="Enter first name" required>
    </div>
    <div class="lastName">
      <label for="lastName" class='formLabel'>Last Name</label>
      <input type="text" id="lastName" name="lastName" placeholder="Enter last name" required>
    </div>
    <div class="email">
      <label for="email" class='formLabel'>Email</label>
      <input type="email" id="email" name="email" placeholder="email@email.com">
    </div>
    <div class="button-box">
      <div class="button-area">
        <button class="button" type="submit">Register</button>
      </div>
    </div>
  </form>
  </main>
</body>
</html>