 <%- include('./partials/_head', { title:'Home'}) %>

<<<<<<< HEAD
 
=======
 <body>
   <!-- taken from Flickity designer: https://css-tricks.com/creating-responsive-touch-friendly-carousels-with-flickity/-->
  <div class="gallery js-flickity" data-flickity-options='{ "wraparound": true, "autoPlay": true }'>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>

  <button>Find Open Locations</button>
  <button>Download the App</button>

  <div class="whyJoin">
    <img src="#">
    <p>Here's why you should join</p>
  </div>
  <div class="successStories">
    <p>Here are some success stories</p>
    <img src="#">
  </div>

 </body>
>>>>>>> 54e70ac8d90dc8facdc2b9ee5d87c507d47e9e72
