 <%- include('./partials/_head', { title:'Home'}) %>

 <body>
   <!-- taken from Flickity designer: https://css-tricks.com/creating-responsive-touch-friendly-carousels-with-flickity/-->
  <div class="gallery js-flickity" data-flickity-options='{ "wraparound": true, "autoPlay": true }'>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>

 </body>