 <%- include('./partials/_head', { title:'Home', pageStyle: '/styles/home.css'}) %>

 <body>
  <section class="carousel-box">
    <div class="text-box">
      <p class="main-text">GET THE WHOLE PACKAGE</p>
      <p class="second-text">Make the most of your membership. Sign up for a presonal trainer to track your weight, progress and caloric intake.</p>
      <div class="register-box">
        <a href="/form" class="register">Register</a>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="indicator" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li class="indicator" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/rectangle-26.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/rectangle-27.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </section> 

  <div class="button-box">
    <div class="button-area">
      <button class="button">Find An OPEN Location</button>
    </div>
    <div class="button-area">
      <button class="button">Download the App</button>
    </div>
  </div>

  <div class="why-join">
    <div class="active-image box">
      <img src="/images/rectangle-7.png">
    </div>
    <div class="active-text box">
      <p class="headline">Your unlimited choices</p>
      <p class="description">We have a selection of fitness classes that can fit your schedule. It can be low or high intensity and can range from weights to aerobic classes. 		</p>
    </div>
  </div>
  <div class="stay-active">
    <div class="active-text box">
      <p class="headline">Stay active and stay safe</p>
      <p class="description">Try our virtual, group or personal training. Meet us online for over 50 virtual group training classes or make an appointment for 1-on-1 sessions.					</p>
    </div>
    <div class="active-image box">
      <img src="/images/bottom-right-image.png">
    </div>
  </div>

 </body>