* {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}

.welcome {
  font-size: 144px;
  margin: 18% 0px 47px 0px;
}
.community {
  font-size: 36px;
  margin-bottom: 51px;
}
.welcomeImg {
  max-width: 448px;
  max-height: 315px; 
}
@media only screen and (max-width: 1075px) {
  .welcome {
    font-size: 72px;
  }
  .community {
    font-size: 28px;
  }
}
@media only screen and (max-width: 800px) {
  .welcome {
    font-size: 40px;
    margin-bottom: 24px;
  }
  .community {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .welcomeImg {
    min-width: 342px;
    min-height: 319px;
  }
}