@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}
h2 {
  margin: 156px 0px 69px 0px;
  font-size: 36px;
  font-weight: bold;
}
table {
  margin: 0;
  width: 1038px;
  table-layout: fixed;
  border-collapse: collapse;
}
tr {
  height: 56px;
}
.tableHead tr {
  height: 60px;
}
th,
td {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-left: 13px;
}
th {
  font-weight: bold;
}
.firstDash,
.firstData {
  width: 225px;
}
.lastDash,
.lastData {
  width: 225px;
}
.emailDash,
.emailData {
  width: 370px;
}
.sinceDash,
.sinceData {
  width: 179px;
}

.userData {
  height: 300px;
  overflow: scroll;
}

tbody,
thead,
tr {
  display: block;
}

tbody {
  height: 280px;
  width: 100%;
  overflow: auto;
}
tr {
  width: 100%;
}