* {
  font-family: 'Roboto', sans-serif;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHead {
  font-size: 36px;
  margin: 185.5px 0px 46px 0px;
}
form {
  width: 452px;
}
.firstName,
.lastName {
  display: inline-block;
  margin-bottom: 27px;
}
.firstName {
  margin-right: 24px;
}
.formLabel {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
input {
  height: 57px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid #5a5a66;
  padding: 3px;
}
input::placeholder {
  color: lightgray;
}
.firstName input,
.lastName input {
  width: 212px;
}
.email input {
  width: 448px;
}

.button-box {
  position: relative;  
  height: 163px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 51px;
}

.button {
    width: 293px;
    height: 60px;
    border-radius: 10px;
    background-color: #5a5a66;
    font-size: 24px;
    line-height: 117%;
    color: #ffffff;
    margin: 0 98px;
}

@media only screen and (max-width: 500px) {
  main {
    margin-bottom: 200px;
  }
  .formHead {
    margin-top: 60px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .firstName,
  .lastName {
    display: block;
  }
  .firstName {
    margin-right: 0;
  }
  .firstName input,
  .lastName input,
  .email input {
    height: 45px;
    width: 269px;
  }
  .button {
    width: 163px;
  }
}