.text-box {
    background-color: gray;
    z-index: 5;
}

.carousel-box {
    min-height: 317px;
  }
  
  .carousel-item img{
    min-height: 317px;
    object-fit: cover;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .carousel-box {
    position: relative;
  }
  
  .main-text {
    position: absolute;
    z-index: 10;
    color: #ffffff;
    font-size: 24px;
    top: 64px;
    left: 22.5px;
    line-height: 20px;
    filter: drop-shadow(4px 0px 4px #000000);
  }
  
  .second-text {
    position: absolute;
    z-index: 10;
    color: #ffffff;
    top: 129px;
    left: 22.5px;
    width: 295px;
    filter: drop-shadow(4px 0px 4px #000000);
  }
  
  .register-box {
    position: absolute;
    top: 237.02px;
    left: 22.5px;
    z-index: 10;
    width: 212px;
    height: 60px;
    border-radius: 10px;
    background-color: #fff519;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .register {
    color: #5a5a66;
    font-size: 24px;
  }

  .button-box {
    position: relative;  
    height: 163px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 51px;
  }

  .button {
      width: 293px;
      height: 60px;
      border-radius: 10px;
      background-color: #5a5a66;
      /*font-weight: bold;*/
      font-size: 24px;
      line-height: 117%;
      color: #ffffff;
      margin: 0 98px;
  }

  .why-join {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 20%;
      margin-right: 20%;
    margin-bottom: 34.5px;
}

.active-image {
    width: 448px;
    height: 309px;
    margin-right: 24px;
}

.headline {
    font-size: 24px;
}
.stay-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
