
/*nave item*/
.nav-item,
.nav-link,
.navbar-brand {
	color: #5A5A66 !important;

}

 
.navbar-expand-lg, 
.navbar-light {
	float: right ! important;
	background-color: #FEF51B;
	font-size: 20px ! important;
	
}

.navbar,
.navbar-dark {
	font-family: 'Squada One', cursive;
	color: black !important;
	font-weight: bold;
	font-size: 18px ! important;
}




